<!DOCTYPE html>
<html>
<head>
	<title>More of Sabrina's Portfolio</title>
</head>
<body>
	<h1>This page has some more photos I've taken!</h1>
	<figure>
	<img src="images2/lighthouse.JPG" width=774.5px height=512px alt="children using binoculars">
	<figcaption>This photo was taken while babysitting at the beach.</figcaption>
</figure>
<figure>
	<img src="images2/notinservice.JPG" width=774.5px height=512px alt="bus traffic in NYC">
	<figcaption>This photo was taken in classic New York City traffic.</figcaption>
</figure>
<figure>
	<img src="images2/paris.jpg" width=width=782.5px height=518.75px alt="girls by the seine river in paris">
	<figcaption>This photo was taken by the Seine River in Paris.</figcaption>
</figure>
<figure>
	<img src="images2/swimming.JPG" width=774.5px height=512px alt="boy jumping into a swimming pool">
	<figcaption>This photo is of my neighbor jumping into the pool.</figcaption>
</figure>
<figure>
	<img src="images2/bordeaux.jpg" width=782.5px height=518.75px alt="girl sitting on a river">
	<figcaption>This photo was taken in Bordeaux, France on a river cruise.</figcaption>
</figure>
	<br>
	<p>If you want to go see the first few photos again, click
	<a href="../index.html">HERE</a></p>
	<br>
	<p>Head to my website again by clicking
	<a href="http://www.sabrinadiamond.com" target="_blank">HERE</a>
</p>
</body>
</html>